<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>本紹介：タイトル</title> <!--タイトルを変更-->
  <link rel="stylesheet" href="../../style.css">
</head>
<body>
  <header>
    <h1>📘 よかった本</h1>
    <nav>
      <ul class="navbar">
        <li><a href="/index.html">ホーム</a></li>
        <li><a href="/pages/book/index.html">📘 本ジャンルトップ</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h2>📖 書籍タイトル</h2> <!--タイトルと各種紹介を変更-->
      <ul>
        <li><strong>著者：</strong></li>
        <li><strong>ジャンル：</strong></li>
        <!--<li><strong>読んだきっかけ：</strong></li>-->
        <!--<li><strong>印象に残ったフレーズ：</strong></li>-->
      </ul>

      <h2>👍 おすすめポイント</h2>
        <ul>
          <li>読み返すたびに新たな発見がある戦略的バトル</li>
          <li>メインキャラ以外の成長にも焦点を当てた群像劇</li>
          <li>「才能」ではなく「努力と選択」で勝ち抜くリアルな描写</li>
        </ul>

      <h3>📚 コメント</h3> <!--コメント内容を変更-->
      <p>
        この本を読んだことで～～。登場人物や展開に惹き込まれました。
      </p>

      <section>
        <h4>🔗 リンク</h4> <!--リンク内容を変更-->
        <p><a href="https://www.kodansha.co.jp/titles/1000006410" target="_blank" rel="noopener">出版社サイト</a></p>
    </section>
  
    <a href="../../index.html" class="btn">トップページに戻る</a>
  
    </section>
  </main>

  <footer>
    <p>© 2025 わたしのおすすめ図鑑</p>
  </footer>
</body>
</html>
